.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-box {
    flex: 0 0 calc(25% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #fac031;
    border-radius: 10px;
    color: #fff;
}

.menu_image img {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
}

.menu_info {
    padding-left: 10px;
    align-items: center;
    text-align: center;
}

.menu_btn {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fac031;
    border-style: solid;
    cursor: pointer;
}

.menu_btn:hover {
    background-color: #f59e07;
    cursor: pointer;
}

/*Other Table */
.other_products_table_wrapper {
    max-height: 500px;
    max-width: 600px;
    overflow-y: auto;
    border: 5px solid #f59e07;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}

.other_products_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.other_products_thead th,
.other_products_tbody td {
    border: 5px solid #fac031;
    padding: 8px;
}
.other_products_tbody tr {
    border-radius: 5px;
}
.other_products_thead {
    background-color: #fac031;
    color: #fff;
}

/* Added CSS for sidebar */
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    z-index: 999;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fac031;
}

.sidebar-close {
    text-align: right;
    cursor: pointer;
}
.cart {
    width: 20px;
}

.menu #cartButton {
    border-color: #fff;
    background-color: #f59e07;
    color: #fff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 95%;
    border-radius: 10px;

}

#cartTotalQuantity {
    align-items: flex-end;
    margin-left: 5px;
    border-radius: 25%;
    border-color: red;
    background-color: red;
    padding: 10px;
}

.cart-menu {
    margin-bottom: 20px;
}

.cart-menu h3 {
    text-align: center;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.sidebar--footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-size: 25px;
}

.cart-item span {
    color: white;
    padding-right: 10px;
    font-size: 25px;
    display: inline-block;
}

.cart-item button {
    border-radius: 5px;
    background-color: #fac031;
    border-color: #fff;
    cursor: pointer;
}

.cart-item input {
    display: block;
    width: 50px;
    border-color: #fff;
    cursor: pointer;
}

/*General */
h1 {
    text-align: center;
    display: block;
    background-color: #fac031;
    border: 2px solid #f59e07;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 200vh;

}

h2 {
    text-align: center;
}

h4 {
    margin-left: 80%;
}

.nav-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
}

.navButton {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #f59e07;
    background-color: #f59e07;
    cursor: pointer;
}